{% extends 'admin_layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="/api/addcartoon" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">Title</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="author" class="col-md-2 control-label">Author</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="author" name="author" placeholder="author">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="addAuthor()" id="authorBtn">작가추가</button>
                            </span>
                        </div>
                        <input type="hidden" name="isaddauthor" id="isAddAuthor" value="false">
                        <input type="hidden" name="authorid" id="authorid">
                    </div>
                </div>
                <div class="form-group">
                    <label for="complete" class="col-md-2 control-label">Complete</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="complete" id="complete" value="1" checked> 미완
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="complete" value="2"> 완결
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="platform" class="col-md-2 control-label">Platform</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input type="radio" name="platform" id="platform" value="1" checked> 만화
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="platform" value="2"> 웹툰
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="thumbnail" class="col-md-2 control-label">Thumbnail</label>
                    <div class="col-md-10">
                        <input type="file" name="thumbnail" id="thumbnail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='jquery-ui.js')}}"></script>
<script>
    $( function() {
        var availableTags = [
            {% for item in author %}
            {label: "{{item.name}}", value: '{{item.name}}', hidden: '{{item.authorid}}'}
            {% endfor %}
        ];
        $("#author").autocomplete({
            source: availableTags,
            select: function(event, ui){
                console.log(ui);
                $('#authorid').val(ui.item.hidden);
            }
        });
    } );

    function addAuthor(){
        var isAddAuthor = $('#isAddAuthor').val();
        if(isAddAuthor == 'true'){
            $('#authorBtn').text('작가추가');
            $('#isAddAuthor').val(false);
            $('#author').removeAttr('readonly');
        }
        else{
            $('#authorBtn').text('취소');
            $('#isAddAuthor').val(true);
            $('#author').attr('readonly', 'readonly');
        }
    }
</script>
{% endblock %}