{% extends 'layout.html' %}
{% block content %}
<style>
    .btn{
        margin-bottom: 10px;
    }

    .thumbnail img{
        height: 180px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">검색 옵션</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="text-center col-md-3 col-xs-3">
                            제목
                        </div>
                        <div class="col-md-9  col-xs-9">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" id="title">
      
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="search()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-md-3 col-xs-3">
                            작가
                        </div>
                        <div class="col-md-9  col-xs-9">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" id="author">
      
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="search()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-md-3 col-xs-3">
                            연재
                        </div>
                        <div class="col-md-9  col-xs-9">
                            <button class="btn btn-default btn-sm complete active" data-d="0">전체</button>
                            <button class="btn btn-default btn-sm complete" data-d="1">미완</button>
                            <button class="btn btn-default btn-sm complete" data-d="2">완결</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="text-center col-md-3 col-xs-3">
                            플랫폼
                        </div>
                        <div class="col-md-9  col-xs-9">
                            <button class="btn btn-default btn-sm platform active" data-d="0">전체</button>
                            <button class="btn btn-default btn-sm platform" data-d="1">만화</button>
                            <button class="btn btn-default btn-sm platform" data-d="2">웹툰</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="text-center col-md-3 col-xs-3">
                            장르
                        </div>
                        <div class="col-md-9  col-xs-9">
                            <button class="btn btn-default btn-sm genre">개그</button>
                            <button class="btn btn-default btn-sm genre">게임</button>
                            <button class="btn btn-default btn-sm genre">공포</button>
                            <button class="btn btn-default btn-sm genre">드라마</button>
                            <button class="btn btn-default btn-sm genre">라노벨</button>
                            <button class="btn btn-default btn-sm genre">스포츠</button>
                            <button class="btn btn-default btn-sm genre">순정</button>
                            <button class="btn btn-default btn-sm genre">러브코미디</button>
                            <button class="btn btn-default btn-sm genre">판타지</button>
                            <button class="btn btn-default btn-sm genre">일상</button>
                            <button class="btn btn-default btn-sm genre">TS</button>
                            <button class="btn btn-default btn-sm genre">추리</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="list">
        {% for item in items %}
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">
                <img src="/thumbnail/{{item.cartoonid}}">
                <div class="caption">
                    <p><a href="/cartoon/{{item.cartoonid}}" target="_blank">{{item.title}}</a></p>
                    <input type="hidden" value="{{item.genre}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var global_item = [
        {cartoonid: 0, title : 'test01', genre: ['개그', '게임']},
    ];
    $('.complete').click(function(){
        $('.complete').removeClass('active');
        $(this).addClass('active');
        search();
    });

    $('.platform').click(function(){
        $('.platform').removeClass('active');
        $(this).addClass('active');
        search();
    });

    $('.genre').click(function(){
        var d = $(this);
        if(d.hasClass('active')){
            d.removeClass('active');
        }
        else{
            $(this).addClass('active');
        }
        search();
    });

    function search(){
        var title = $('#title').val();
        var author = $('#author').val();
        var complete = $('.complete.active').data('d');
        var platform = $('.platform.active').data('d');
        var genre = [];
        var genre_selected = $('.genre.active');
        var length = genre_selected.length;
        for(var i = 0; i < length; i++){
            genre.push($(genre_selected[i]).text());
        }

        var query = {
            title: title,
            author: author,
            complete: complete,
            platform: platform,
            genre: genre
        };

        $.ajax({
            url: '/api/search',
            type: 'post',
            data: query,
            success: function(data){
                $('#list').empty();
                for(var item of data.items){
                    var html = `<div class="col-md-3 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="/thumbnail/${item.cartoonid}">
                                        <div class="caption">
                                            <p><a href="/cartoon/${item.cartoonid}" target="_blank">${item.title}</a></p>
                                        </div>
                                    </div>
                                </div>`;
                    $('#list').append(html);
                }
            }
        });
    }
</script>
{% endblock %}