<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VIEW</title>

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">VIEW</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group input-group">
                          <input type="text" class="form-control" placeholder="Search">

                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- {% block content %}
                    {% endblock %} -->
                    <style>
                        .btn{
                            margin-bottom: 10px;
                        }

                        .thumbnail img{
                            height: 180px;
                        }
                    </style>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">검색 옵션</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="text-center col-md-3 col-xs-3">
                                                연재
                                            </div>
                                            <div class="col-md-9  col-xs-9">
                                                <button class="btn btn-default btn-sm">미완</button>
                                                <button class="btn btn-default btn-sm">완결</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center col-md-3 col-xs-3">
                                                플랫폼
                                            </div>
                                            <div class="col-md-9  col-xs-9">
                                                <button class="btn btn-default btn-sm">만화</button>
                                                <button class="btn btn-default btn-sm">웹툰</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="text-center col-md-3 col-xs-3">
                                                플랫폼
                                            </div>
                                            <div class="col-md-9  col-xs-9">
                                                <button class="btn btn-default btn-sm">개그</button>
                                                <button class="btn btn-default btn-sm">게임</button>
                                                <button class="btn btn-default btn-sm">공포</button>
                                                <button class="btn btn-default btn-sm">드라마</button>
                                                <button class="btn btn-default btn-sm">라노벨</button>
                                                <button class="btn btn-default btn-sm">스포츠</button>
                                                <button class="btn btn-default btn-sm">순정</button>
                                                <button class="btn btn-default btn-sm">러브코미디</button>
                                                <button class="btn btn-default btn-sm">판타지</button>
                                                <button class="btn btn-default btn-sm">일상</button>
                                                <button class="btn btn-default btn-sm">TS</button>
                                                <button class="btn btn-default btn-sm">추리</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="thumbnail">
                                    <img src="https://manatoki82.net/data/file/comic/153634/5930508/thumb-LP4N5r2I_nvO_240x280.jpg">
                                    <div class="caption">
                                        <p><a href="#">test01</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="thumbnail">
                                    <img src="../resource/cartoon/test/test.jpg">
                                    <div class="caption">
                                        <p><a href="#">test01</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="thumbnail">
                                    <img src="https://manatoki82.net/data/file/comic/153634/5930508/thumb-LP4N5r2I_nvO_240x280.jpg">
                                    <div class="caption">
                                        <p><a href="#">test01</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="thumbnail">
                                    <img src="../resource/cartoon/test/test.jpg">
                                    <div class="caption">
                                        <p><a href="#">test01</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        
                    </script>
                      
                </div>
            </div>
        </div>
    </body>
</html>