<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VIEW</title>

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">VIEW</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group input-group">
                          <input type="text" class="form-control" placeholder="Search">

                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- {% block content %}
                    {% endblock %} -->
                    <div class="panel panel-default">
                        <div class="panel-heading">검색 옵션</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center col-md-4 col-xs-4">
                                    연재
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">미완</button>
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">완결</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="text-center col-md-4 col-xs-4">
                                    플랫폼
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">만화</button>
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">웹툰</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="text-center col-md-4 col-xs-4">
                                    장르
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">만화</button>
                                </div>
                                <div class="col-md-4  col-xs-4">
                                    <button class="btn btn-default btn-sm btn-block">웹툰</button>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </body>
</html>