{% extends 'layout.html' %}
{% block content %}
<style>
    .main-content, .main-content .container-fluid,.main-content .row{
        margin: 0 auto;
    }
    .main-content, .main-content div{
        padding: 0;
    }
</style>
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-12">
            {% for arrange in images %}
            <img src="/cartoon/{{cartoonid}}/story/{{number}}/cut/{{arrange}}" class="img-responsive">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2 col-xs-4">
            <a href="/cartoon/{{cartoonid}}/story/{{number-1}}" class="btn btn-default btn-block">이전화</a>
        </div>
        <div class="col-md-2 col-xs-4">
            <a href="/cartoon/{{cartoonid}}" class="btn btn-default btn-block" >목록</a>
        </div>
        <div class="col-md-3 col-xs-4">
            <a href="/cartoon/{{cartoonid}}/story/{{number+1}}" class="btn btn-default btn-block">다음화</a>
        </div>
    </div>
</div>
{% endblock %}